.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contact-container img {
    margin-bottom: 20px; /* Optional: Adds some space between the image and the text */
  }
  
  .contact-container h1, .contact-container p {
    margin: 5px 0; /* Optional: Adjusts spacing between text elements */
  }
  .footermainheading{
    color: #936317;
  }
  .footersubheading{
    color: #936317;
    font-size: 17px;
    font-style: italic;
  }
  